<section class="vh-100 custom-background">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Lista de Membros -->
      <div class="col-lg-9 mt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mt-4 position-relative">
              <div class="text-center mb-4">
                <h6>Lista de Membros</h6>
              </div>
              <ul class="list-group">
                <!-- Verifica se há membros -->
                <ng-container *ngIf="membros && membros.length > 0; else noMembers">
                  <li class="list-group-item" *ngFor="let membro of membros">
                    <ng-container *ngIf="membro.usuario">
                      <h2 class="mb-3 font-weight-bold display-5">{{ membro.usuario.nome }}</h2>
                      <p>Email: {{ membro.usuario.email }}</p>
                      <p>Telefone: {{ membro.usuario.telefone }}</p>
                      <p>Endereço: {{ membro.usuario.endereco }}</p>
                      <p>Status de Solicitação de Entrada: {{ membro.statusSolicitacao }}</p>

                      <div *ngIf="membro.preferenciasAtividades && membro.preferenciasAtividades.length > 0">
                        <h6>Atividades:</h6>
                        <ul>
                          <li *ngFor="let atividade of membro.preferenciasAtividades">
                            {{ atividade.nome }} - {{ atividade.descricao }}
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="!membro.preferenciasAtividades || membro.preferenciasAtividades.length === 0">
                        <p>Nenhuma atividade preferida encontrada.</p>
                      </div>

                      <!-- Botões de Ação -->
                      <div class="p-4">
                        <button (click)="aceitarSolicitacao(membro.usuario.id)" class="btn btn-success mr-4">Aceitar
                          Solicitação</button>
                        <button (click)="confirmarRemocao(membro.usuario.id)" class="btn btn-danger">Remover
                          Solicitação</button>
                      </div>

                    </ng-container>
                    <ng-container *ngIf="!membro.usuario">
                      <p>Nenhum usuário encontrado.</p>
                    </ng-container>
                  </li>
                </ng-container>
                <!-- Template para quando não há membros -->
                <ng-template #noMembers>
                  <li class="list-group-item text-center">
                    <p>Não há solicitações de membros no momento.</p>
                  </li>
                </ng-template>
              </ul>
            </div>
          </div>
          <div class="py-4">
            <button class="btn btn-orange" routerLink="/todos-ministerios">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
