<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a routerLink="/todos-ministerios" routerLinkActive="active" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Todos os Ministérios
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a routerLink="/meus-ministerios" routerLinkActive="active" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Meus Ministérios
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>