<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Lista de Ministérios -->
    <div class="col-lg-9 mt-5 custom-background" style="max-height: 80vh; overflow-y: auto;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mt-4">
            <div class="text-center mb-4 font-weight-bold">
              <h6>Lista de Atividades</h6>
            </div>
            <div class="text-right mb-4" *ngIf="isLiderMinisterio[idMinisterio]">
              <button class="btn btn-warning pr-2" [routerLink]="['/cadastro-atividade']" [queryParams]="{ idMinisterio }">Cadastrar Atividade</button>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="d-flex justify-content-between ">
                  <div>
                    <h6 class="font-weight-bold">Nome</h6>
                  </div>
                  <div>
                    <h6 class="font-weight-bold">Descrição</h6>
                  </div>
                  <div *ngIf="isAdmin || isLiderMinisterio[idMinisterio]">
                    <h6 class="font-weight-bold px-14">Ações</h6>
                  </div>
                </div>
              </li>
              <li class="list-group-item" *ngFor="let atividade of atividades">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h2 class="mb-3 font-weight-bold display-5">{{ atividade.nome }}</h2>
                  </div>
                  <div class="ml-auto">
                    <p>{{ atividade.descricao }}</p>
                  </div>
                  <div class="ml-auto" *ngIf="podeEditarOuExcluir(atividade)">
                    <button type="button" class="btn btn-warning pr-2" (click)="abrirModal('editarModal' + atividade.id)">Editar</button>
                    <span class="px-2"></span>
                    <button type="button" class="btn btn-warning" (click)="confirmarExcluirAtividade(atividade.id.toString())">Excluir</button>
                </div>
                
                
     
                  </div>
                  <!-- Modal de edição -->
                  <div class="modal fade" id="editarModal{{ atividade.id }}" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="editarModalLabel">Editar Atividades</h5>
                                  <button type="button" class="btn-close" (click)="fecharModal('editarModal' + atividade.id)" aria-label="Fechar"></button>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group">
                                      <label for="nomeAtivdade">Nome:</label>
                                      <input type="text" class="form-control" id="nomeAtivdade" [(ngModel)]="atividade.nome" name="nomeAtivdade">
                                  </div>
                                  <div class="form-group">
                                      <label for="descricaoAtivdade">Descrição:</label>
                                      <textarea class="form-control" id="descricaoAtivdade" [(ngModel)]="atividade.descricao" name="descricaoAtivdade"></textarea>
                                  </div>
                                  <div class="form-group">
                                      <label for="quantidadeMembros">Quantidade de Membros:</label>
                                      <input class="form-control" id="quantidadeMembros" [(ngModel)]="atividade.quantidadeMembros" name="quantidadeMembros">
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" (click)="confirmarEdicaoAtividade(atividade)" class="btn btn-warning">Salvar mudanças</button>
                                  <button type="button" class="btn btn-warning pr-2" (click)="fecharModal('editarModal' + atividade.id)">Fechar</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
