<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <!-- Conteúdo do formulário de cadastro de evento -->
        <div class="col-lg-9 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <div class="text-center mb-4 font-weight-bold">
                            <h1>CADASTRO DE MINISTÉRIO</h1>
                        </div>
                        <form (ngSubmit)="submit(form)" #form="ngForm">
                            <label for="nome" class="nome">Nome:</label>
                            <input type="text" class="form-control " [(ngModel)]="registro.nome"
                                name="nome" required />

                            <label for="descricao" class="descricao">Descrição:</label>
                            <textarea class="form-control form-control-lg" [(ngModel)]="registro.descricao"
                                name="descricao" required></textarea>

                                <div class="text-center mt-5">
                                    <button class="btn btn-danger p-2"  routerLink="/meus-ministerios" style="margin-right: 80px;">
                                        Cancelar
                                    </button>
                                    
                                    <button type="submit" class="btn btn-warning p-2">
                                        Cadastrar
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
