<section class="vh-100 custom-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-4">
          <div class="text-center mb-4">
            <h1>Lista de Eventos</h1>
          </div>
          <ul class="list-group">
            <!-- Exemplo de como iterar sobre a lista de eventos -->
            <li class="list-group-item">
              <h3>Evento 1</h3>
              <p>Data: 01/03/2024</p>
              <p>Tipo: Culto</p>
              <p>Hora de Início: 18:00</p>
              <p>Hora de Fim: 20:00</p>
              <p>Descrição: Descrição do Evento 1</p>
            </li>
            <li class="list-group-item">
              <h3>Evento 2</h3>
              <p>Data: 05/03/2024</p>
              <p>Tipo: Externo</p>
              <p>Hora de Início: 15:30</p>
              <p>Hora de Fim: 18:00</p>
              <p>Descrição: Descrição do Evento 2</p>
            </li>
            <!-- Adicione mais <li> conforme necessário para simular mais eventos -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  