<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Lista de Eventos -->
    <div class="col-lg-9 mt-5 custom-background" style="max-height: 80vh; overflow-y: auto;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mt-4">
            <div class="text-center mb-4 font-weight-bold">
              <h2>Lista de Membros</h2>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let membro of membros">
                <h2 class="mb-3 font-weight-bold display-5">{{ membro.nome }}</h2>
                <p>Email: {{ membro.email }}</p>
                <p>Telefone: {{ membro.telefone }}</p>
                <p>Endereço: {{ membro.endereco }}</p>
                <p>Data de Nascimento: {{ membro.dataNascimento | date:'dd/MM/yyyy' }}</p>
                <!-- Adicione mais detalhes conforme necessário -->
                <div class="mb-3">

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>