.custom-background {
    background-image: url('../../../assets/img/igreja.png'); 
    background-size: cover;
    background-position: center;
  }

.login{
    color: #fff;
    font-size: 15px;

}

.custom-orange-bg {
    background-color: #FF9F00;
    border-color: #FF9F00; 
    color: #fff;
  }


.custom-margin-left {
    margin-right: 20px; 
}

.logo-img {
    max-width: 160px; 
    max-height: 100px; 
}


.btn-primary:hover {
    background-color: #00000000;
    border-color: #FFA500;
}

  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #fff;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}