<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
          <app-sidebar></app-sidebar>
      </div>
      <!-- Lista de Ministérios -->
      <div class="col-lg-9 mt-5 custom-background" style="max-height: 80vh; overflow-y: auto;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 mt-4">
                      <div class="text-center mb-4 font-weight-bold">
                          <h2>Ministérios Cadastrados</h2>
                      </div>
                      <div class="text-right mb-4">
                          <button routerLink="/cadastro-ministerio" class="btn btn-warning pr-2">Cadastrar Ministério</button>
                      </div>
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="d-flex justify-content-between ">
                                  <div>
                                      <h6 class="font-weight-bold">Nome</h6>
                                  </div>
                                  <div class="ml-auto px-80">
                                      <h6 class="font-weight-bold">Descrição</h6>
                                  </div>
                                  <div>
                                      <h6 class="font-weight-bold px-14">Ações</h6>
                                  </div>
                              </div>
                          </li>
                          <li class="list-group-item" *ngFor="let ministerio of ministerios">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div>
                                      <h2 class="mb-3 font-weight-bold display-5">{{ ministerio.nome }}</h2>
                                      <button type="button" class="btn btn-warning pr-2" (click)="verMembrosMinisterio(ministerio.id)">
                                          Ver membros do ministério
                                      </button>
                                  </div>

                                  <div class="ml-auto">
                                      <p>{{ ministerio.descricao }}</p>
                                  </div>

                                  <div class="ml-auto">
                                      <button type="button" (click)="abrirModal('editarModal' + ministerio.id)"
                                          class="btn btn-warning pr-2">Editar</button>
                                      <span class="px-2"></span>
                                      <button (click)="confirmarExcluirMinisterio(ministerio.id.toString())"
                                          class="btn btn-warning pr-2">Excluir</button>
                                      <span class="px-2"></span>
                                      <button [routerLink]="['/lista-atividade']"
                                          [queryParams]="{ idMinisterio: ministerio.id.toString() }" class="btn btn-warning pr-2">Atividades</button>
                                      <span class="px-2"></span>
                                  </div>
                              </div>
                              <div class="modal fade" id="editarModal{{ ministerio.id }}" tabindex="-1" role="dialog"
                                  aria-labelledby="editarModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="editarModalLabel">Editar Ministério</h5>
                                              <button type="button" class="btn-close" (click)="fecharModal('editarModal' + ministerio.id)"
                                                  aria-label="Fechar"></button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="form-group">
                                                  <label for="nomeMinisterio">Nome:</label>
                                                  <input type="text" class="form-control" id="nomeMinisterio" [(ngModel)]="ministerio.nome"
                                                      name="nomeMinisterio">
                                              </div>
                                              <div class="form-group">
                                                  <label for="descricaoMinisterio">Descrição:</label>
                                                  <textarea class="form-control" id="descricaoMinisterio" [(ngModel)]="ministerio.descricao"
                                                      name="descricaoMinisterio"></textarea>
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" (click)="salvarEdicaoMinisterio(ministerio)"
                                                  class="btn btn-warning pr-2">Salvar mudanças</button>
                                              <button type="button" class="btn btn-warning pr-2"
                                                  (click)="fecharModal('editarModal' + ministerio.id)">Fechar</button>
                                              <button class="btn btn-warning pr-2"
                                                  (click)="confirmarExcluirMinisterio(ministerio.id.toString())">Excluir</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
