<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <!-- Componente de Sidebar -->
            <app-sidebar></app-sidebar>
        </div>
        <!-- Conteúdo do formulário de cadastro de preferência -->
        <div class="col-lg-9 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <div class="text-center mb-4 font-weight-bold">
                            <!-- Título do formulário -->
                            <h1>CADASTRO DE PREFERÊNCIA</h1>
                        </div>
                        <!-- Formulário para cadastro de preferências -->
                        <form (ngSubmit)="submit(form)" #form="ngForm">
                            <!-- Loop para exibir múltiplos registros de preferências -->
                            <div *ngFor="let registro of registros; let i = index">
                                <div class="form-group">
                                    <!-- Label para seleção de dias da semana -->
                                    <label class="d-block">Dia da Semana:</label>
                                    <div *ngFor="let dia of diasDaSemana">
                                        <!-- Checkbox para cada dia da semana -->
                                        <input type="checkbox" 
                                            [value]="dia" 
                                            (change)="onDiaChange($event, i)" 
                                            [checked]="registro.dias.includes(dia)" />
                                        {{dia}}
                                    </div>
                                </div>

                                <!-- Campo para hora de início -->
                                <label for="hora_inicio_{{i}}" class="hora_inicio">Hora de Início:</label>
                                <input type="time" class="form-control" [(ngModel)]="registro.hora_inicio"
                                    name="hora_inicio_{{i}}" required />

                                <!-- Campo para hora de fim -->
                                <label for="hora_fim_{{i}}" class="hora_fim">Hora de Fim:</label>
                                <input type="time" class="form-control" [(ngModel)]="registro.hora_fim"
                                    name="hora_fim_{{i}}" required />
                            </div>

                            <!-- Botão para adicionar outra preferência -->
                            <div class="text-center mt-3">
                                <button type="button" (click)="addPreferencia()" class="btn btn-secondary">Adicionar Outra Preferência</button>
                            </div>

                            <!-- Botão para enviar o formulário -->
                            <div class="text-center mt-5"> 
                                <button type="submit" class="btn btn-warning p-2">
                                    Cadastrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
