<section class="custom-background cadastro">
  <div class="container-fluid">
    <img src="../../../assets/img/logoIBB.png" alt=""
      class="logo-img">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="form col-lg-6 bg-gray-900 bg-opacity-50 mt-4 rounded-lg p-4 ml-auto custom-margin-left">
        <div class="text-center mb-4">
          <h1>REGISTRE-SE</h1>
        </div>
        <form (ngSubmit)="submit(form)" #form="ngForm">
          <div class="row">
            <!-- Nome Completo input -->
            <div class="col-md-6 mb-4">
              <label class="form-label" for="form1Example13">Nome completo:</label>
              <input type="text" class="form-control form-control-lg" [(ngModel)]="registro.nome" name="nome" />
            </div>
            <!-- Email input -->
            <div class="col-md-6 mb-4">
              <label class="form-label" for="formEmail">Email:</label>
              <input type="email" id="formEmail" class="form-control form-control-lg" [(ngModel)]="registro.email"
                name="email" />
            </div>
          </div>

          <div class="row">
            <!-- Telefone input -->
            <div class="col-md-6 mb-4">
              <label class="form-label" for="formTelefone">Telefone:</label>
              <input type="tel" id="formTelefone" class="form-control form-control-lg" [(ngModel)]="registro.telefone"
                name="telefone" (input)="formatarTelefone($event)" />
            </div>
            <!-- Endereço input -->
            <div class="col-md-6 mb-4">
              <label class="form-label" for="formdatanascimento">Data de Nascimento:</label>
              <input type="date" id="formdatanascimento" class="form-control form-control-lg"
                [(ngModel)]="registro.dataNascimento" name="dataNascimento" />
            </div>
          </div>

          <!-- Data de Nascimento input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="formEndereco">Endereço:</label>
            <input type="text" id="formEndereco" class="form-control form-control-lg" [(ngModel)]="registro.endereco"
              name="endereco" />
          </div>

          <!-- Senha input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="formSenha">Senha:</label>
            <input type="password" id="formSenha" class="form-control form-control-lg" [(ngModel)]="registro.senha"
              name="senha" />
          </div>

          <!-- Submit button -->

          <button type="submit" class="btn btn-warning btn-md btn-block custom-orange-bg" [disabled]="isSubmit">
            <span *ngIf="!isSubmit">Cadastrar</span>
            <span *ngIf="isSubmit">
              <i class="fa-regular fa-clipboard"></i>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
