.custom-background {
    background-image: url('../../../assets/img/igreja.jpg'); 
    background-size: cover;
    background-position: center;
  }

.cadastro{
    color: #fff;
    font-size: 15px;

}


.custom-orange-bg {
    background-color: #FF9F00;
    border-color: #FF9F00; 
    color: #fff;
  }

.custom-margin-left {
    margin-right: 20px; 
}

.logo-img {
    max-width: 150px; 
    max-height: 100px; 
}

.btn-primary:hover {
    background-color: #FFA500;
    border-color: #FFA500;
}
